<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="/" class="navbar-brand">{{title}}</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="products" class="nav-link">Liste des produits</a>
        </li>
  
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Rajouter un produit</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>

<router-outlet></router-outlet>